<p>Number of nodes: <%=@jggraph.nodes.length%></p>
<p>Number of edges: <%=@jggraph.edges.length%></p>
<p>Mean degree: <%=@jggraph.edges.length.to_f*2/@jggraph.nodes.length.to_f%></p>
<table>
<caption>Degree distribution</caption>
	<tr>
		<th>Degree</th>
		<th>Count</th>
	</tr>
<% @deg_dist.each do |k,v|%>
	<tr>
		<td><%=k%></td>
		<td><%=v%></td>
	</tr>
<% end %>
</table>

<% if @neighbourhood %>
	<table style="font-size:0.5em;">
		<caption><em>Neighbourhood matrix</em></caption>
		<tr>
			<th>*<th>
			<% for i in 0...@jggraph.nodes.length do %>
				<th><%=i%></th>
			<% end %>
		</tr>
		<% for i in 0...@jggraph.nodes.length do%>
		<tr>
			<th><%=i%><th>
			<% for j in 0...@jggraph.nodes.length do%>
				<% exists = @jggraph.edges.include?([i,j]) || @jggraph.edges.include?([j,i]) %>
					<%= "<td class='one'>1</td>" if exists %>
					<%= "<td>0</td>" if not exists %>
			<% end %>
		</tr>
		<% end %>
	</table>
<% end %>

<p> <%= ("Edges list: " + @jggraph.edges.to_s) if @showedges %></p>
